<!--The content below is only a placeholder and can be replaced.-->
<img style="position: absolute; margin-top:-20px; width: 50px; height: 50px;" src="assets/images/FavIcon6.svg" />

<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  Source code:
  <a href="https://github.com/karol-depka/RateVote">https://github.com/karol-depka/RateVote</a>
  - pull requests are welcome :)
</div>

<button  *ngIf="!(authService.user | async)?.displayName"
         md-button md-raised-button color="secondary"
         (click)="authService.login()">
  Log in via Google
</button>

<button *ngIf="(authService.user | async)?.displayName"
        md-button md-raised-button color="secondary">
  {{ (authService.user | async)?.displayName }}
</button>


<div class="content-container" class.xs="content-container-mobile">
  <router-outlet></router-outlet>
</div>
