<md-card style="margin-bottom: 0.5em; margin-left: 0.5em; margin-right: 0.5em;">

<p>
  <b>Poll Title: </b>{{pollTitle}}
</p>

  <p *ngIf="isPeopleMatcher">
    Potentially useful: synonyms: http://www.thesaurus.com/browse/connect?s=t
  </p>
  <p>
    If you would like to be recorded as an author of a poll option, please log in.
  </p>
  <p>You are <b>encouraged</b> to pass the link to other people who might be interested! :)</p>

  <p>You do <b>not</b> have to rate all options.</p>
  <p>Results are hidden for now, to not suggest anything ;)</p>

</md-card>


<app-comments-list
  [commentTarget]="poll"
></app-comments-list>

<app-comment-edit
  [commentTarget]="poll"
></app-comment-edit>
<br/>


<button  *ngIf="!(authService.user | async)"
         md-button md-raised-button color="secondary"
         (click)="authService.login()">
  Please log in to add options
</button>


<p *ngIf="! (options | async)">Loading poll options...</p>

<table>
  <tr>
    <ng-template md-list ngFor let-option [ngForOf]="options | async" >
      <tr app-poll-option
          [pollOption]="option"
          [pollId]="pollId"
          [showDomains]="showDomains"
          [showResults]="showResults"
      >
      </tr>
    </ng-template>
  </tr>

</table>



<!--<form #newPollOptionTitle>-->
<form>
  <md-input-container
      style="width:100%" *ngIf="(authService.user | async)"
  >
    <input
      mdInput
      [formControl]="newPollOptionTitle"
      (keydown.enter)="addPollOption()"
    >
    <md-placeholder>
      Add poll option
    </md-placeholder>
  </md-input-container>

  <button  *ngIf="!(authService.user | async)"
           md-button md-raised-button color="secondary"
           (click)="authService.login()">
    Please log in to add options
  </button>


</form>


