<td>
  <p>
    <b>{{pollOption.title}} </b>
  </p>

  <app-comments-list
    [commentTarget]="pollOption"
  ></app-comments-list>

  <app-comment-edit
    [commentTarget]="pollOption"
  ></app-comment-edit>
  <br/>

</td>
<td *ngIf="showDomains">
  Domain example: <b>{{domainExample()}}</b>
</td>
<td *ngIf="showDomains">
  <pre style="font-family: monospace">
    {{domainExample()}}
  </pre>
</td>
<td>
  <rating
    [(ngModel)]="myGivenRating"
    (ngModelChange)="onRatingChanged($event)"
    [float]="true"
    [disabled]="false"
  >
  </rating>

  <app-option-results *ngIf="showResults"
    [pollOption]="pollOption"
    [pollId]="pollId"
  ></app-option-results>


</td>
