<!--<tr>-->

<td>

  <p>
    <b>{{pollOption.title}} </b>
  </p>

</td>
<td *ngIf="showDomains">
  <ng-template [ngIf]="showDomain">
    Domain example:<br/><b>{{domainExample()}}</b>
  </ng-template>
</td>
<td *ngIf="showDomains">
  <ng-template [ngIf]="showDomain">
    <pre style="font-family: monospace">{{domainExample()}}</pre>
  </ng-template>
</td>
<td *ngIf="showAcronyms">
  <ng-template [ngIf]="showAcronym">
    Acronym:<br/><b>{{acronym()}}</b>
  </ng-template>
</td>
<td>
  <rating
    [(ngModel)]="myGivenRating"
    (ngModelChange)="onRatingChanged($event)"
    [float]="true"
    [disabled]="false"
  ></rating>

  <app-option-results *ngIf="showResults"
    [pollOption]="pollOption"
    [pollId]="pollId"
  ></app-option-results>


</td>
<td>
  <app-comment-stats
    [commentTarget]="pollOption"
    (click)="toggleComments()"
  ></app-comment-stats>
</td>

<!--</tr>-->


